<p>Estimado(a) <%= @user.firstname %></p>

<p>Te han invitado a formar parte de #ColectaFCR de Fundación Cecilia Rivadeneira por parte
  de <%= @user.invited_by.firstname %> - <%= @user.invited_by.email %></p>

<p>Nuestra colecta se realizará los días:</p>
<ul>
  <li>Sábado 08 de junio</li>
</ul>
<p>En las principales avenidas de tu ciudad.</p>

<h4>Horarios</h4>
<ul>
  <li>Viernes 17 de mayo 07h00 a 12h00</li>
  <li>Viernes 17 de mayo 12h00 a 18h00</li>
  <li>Sábado 18 de mayo 07h00 a 12h00</li>
  <li>Sábado 18 de mayo 12h00 a 18h00</li>
  <li>Sábado 08 de junio 09h00 a 14h00</li>
</ul>

<p>Para confirmar tu participación en la brigada indicada, debes terminar de ingresar tus datos en el siguiente link</p>

<a href="<%= @url %>">Confirmar</a>

<p>En caso de no funcionar el enlace, copie y pegue lo siguiente en el navegador: <%= @url %></p>

<p>Si tiene algún problema por favor comuniquese con el correo
  <a href='mailto:inscribete@fcr.org.ec'>inscribete@fcr.org.ec</a></p>

<p>
  A partir de este momento, puedes invitar a más amigos y apoyar al líder de brigada para conseguir las 5 personas que
  formarán parte de tu grupo. La ubicación solo estará confirmada al asegurar la participación de mínimo 3 miembros de
  la brigada.
</p>

<h4>Responsabilidades del voluntario</h4>
<ol>
  <li>Apoyar al líder de brigada en la confirmación del grupo de 5 amigos.</li>
  <li>Asistir a las capacitaciones que se realizarán.</li>
  <li>Cuidar el material entregado para el día de participación y entregarlo al líder, quien lo llevará al centro de
    acopio.
  </li>
  <li>Comunicar un mensaje claro sobre el trabajo de FCR con los niños con cáncer y sus familias.</li>
  <li>Mantener el ánimo durante toda la jornada, tanto de sus amigos como del público en general.<br/><br/>Gracias por
    unirte a la construcción de una sociedad más optimista y solidaria.
  </li>
</ol>

<p>
  Gracias por unirte a la construcción de una sociedad más optimista y solidaria.
</p>

<h3>Fundación Cecilia Rivadeneira</h3>
<p>
  Buscamos mejorar la calidad de vida de los niños/as con cáncer y sus familias en el Ecuador. Estamos convencidos que
  el cuidado de un niño con cáncer y su familia va mucho más allá de la medicación y la tecnología.
</p>

<p>Si ud. no ha creado esta cuenta o recibió por error este mensaje, haga caso omiso a este correo.</p>
