<%= semantic_form_for [:admin, @place] do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :city_id,
                label: 'Ciudad',
                as: :select,
                collection: City.order('name').map{ |p| [p.name, p.id, { 'data-lat': p.latitude, 'data-lng': p.longitude }] },
                include_blank: false,
                input_html: { data: { city_selector: 'true' } } %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :status %>
  <% end %>
  <%= f.actions %>
  <div id="to_capture_coords">
    <div id="small_map_canvas" style="width:100%; height:600px;"></div>
  </div>
<% end %>

<script src='//maps.googleapis.com/maps/api/js?key=AIzaSyDCEEtEPWvLwrP-M0nJz4MeIRtRa_wiuJk&libraries=visualization' type='text/javascript'></script>

<script>
  var map = null;
  var point = null;
  var point_marker = null;

  function initialize() {
    point = new google.maps.LatLng(<%= (@place.new_record? ? 0.046692 : @place.latitude) %>, <%= (@place.new_record? ? -78.202400 : @place.longitude) %>);
    map = new google.maps.Map(document.getElementById('small_map_canvas'), {
      zoom: 16,
      center: point,
      mapTypeId: google.maps.MapTypeId.SATELLITE
    });

     point_marker = new google.maps.Marker({
      position: point,
      map: map
    });

    google.maps.event.addListener(map, 'click', function (event) {
      point = event.latLng;
      point_marker.setPosition(point);
      document.getElementById('place_latitude').setAttribute('value', event.latLng.lat());
      document.getElementById('place_longitude').setAttribute('value', event.latLng.lng());
    });

    $('[data-city-selector]').on('change', function() {
      var $el = $(this).find('option:selected');
      map.setCenter(new google.maps.LatLng($el.data('lat'), $el.data('lng')));
    });
  }

  $(function() { initialize(); });

</script>
